body{
    background-color:red ;
    text-align: center;
}

#output{
    margin-bottom: 50%;
    height: 30%;
    width: 40%;
    background-color:rgb(255, 255, 255) ;
    margin-left:0%;
    border-radius:10px;
    border-top: 10px solid #b4204f;
}

button{
    margin-right: 55px;
    text-align:justify;
}
label,input{
    margin: top 0;
    text-align:justify;
}
#rt{
    text-align:center;
}